@import "custom-tw";

article > *:not(.entry-content),
.entry-content > * {
    @apply mx-auto max-w-content;
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}

/* Custom styles */
#menu-header-menu li a {
    @apply font-bold text-[#949494] text-[20px];
}

footer ul {
    @apply flex flex-col gap-4 text-black font-medium;
}

footer h2 {
    @apply uppercase font-extrabold mb-4 text-xl;
}

footer .widget p {
    @apply leading-[2.35rem] font-medium;
}

.wp-block-social-links {
    @apply flex flex-row;
}

.footer .container {
    @apply !max-w-screen-content;
}

.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-facebook,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-twitter,
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link-linkedin {
    background-color: transparent;
    color: #000;
}

.wp-block-social-links .wp-social-link svg {
    height: 1.25em;
    width: 1.25em;
}

html {
    @apply overflow-x-hidden;
}